name: test

on: [push]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
        with:
          version: 2025.12.12
      - name: Test with Gradle
        run: mise run test
